# --- Django Settings ---
DJANGO_SECRET_KEY=change-me-to-something-random

DJANGO_DEBUG=True

DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1



POSTGRES_DB=datavault
POSTGRES_USER=datavault
POSTGRES_PASSWORD=datavault
POSTGRES_PORT=5432

POSTGRES_HOST=db
